<nav>
    <div class="site-title">
        <a href="/">
            <h1>Mini Message Board</h1>
        </a>
        <p>A Free Site For Send Messages</p>
    </div>
    <ul>
      
          <li>
            <a href="/">
              <span> ALL </span>
            </a>
          </li>
          <li>
            <a href="/new">
              <span> <%= links[1].text %> </span>
            </a>
          </li> 


    </ul>
</nav>