<html lang="en">
 
<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/navbar') %>
    
    <div class="new-message content">
        <form action="/new" method="POST">
            <label for="user">Name: </label>
            <input type="text" id="user" name="user" required>
            <label for="text"> My message: </label>
            <input type="text" id="text" name="text" required>
            
            <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>