<html lang="en">
 
<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/navbar') %>
    
   <div class="new-message content">
        <form action="/new" method="POST">
            <label for="userm">Name: </label>
            <input type="text" id="userm" name="userm" required>
            <label for="textm"> My message: </label>
            <input type="text" id="textm" name="textm" required>
            
            <button>Submit</button>
        </form>
    </div> 

    <%- include('./partials/footer.ejs') %>
</body>

</html>